@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, * {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: 600px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

a, button {
  font-style: normal;
}

button {
  font-weight: 800;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

select {
  text-align: start;
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  min-width: 335px;
  min-height: 52px;
  color: #565656;
}

select:hover {
  cursor: pointer;
}

.body-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px auto 312px;
      grid-template-rows: 74px auto 312px;
  row-gap: 5px;
}

.horizontally-center {
  margin: 0px 5%;
}

.o-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 16px;
  align-self: flex-start;
      grid-template-areas: "icon title" "content content";
}

@media (min-width: 900px) {
  .o-card {
        grid-template-areas: "icon title" ". content";
  }
}

.o-card__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

.o-card__title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.o-card__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
}

.o-option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 44px;
      grid-template-columns: 1fr 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  min-width: 335px;
  min-height: 52px;
  color: #565656;
}

.o-option p {
  padding-left: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.o-option img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.o-option:hover {
  cursor: pointer;
}

.c-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 302px auto auto 750px auto auto;
      grid-template-rows: 302px auto auto 750px auto auto;
  gap: 90px;
}

@media (min-width: 1200px) {
  .c-course {
    -ms-grid-rows: 302px auto auto 560px auto auto;
        grid-template-rows: 302px auto auto 560px auto auto;
  }
}

.c-course__header-wrapper {
  background-color: #44A9F8;
}

.c-course__header-wrapper .c-course__header {
  text-align: center;
  color: #FFFFFF;
}

.c-course__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 190px;
      grid-template-rows: 1fr 190px;
  row-gap: 16px;
}

.c-course__description__video-wrapper {
  height: 190px;
  width: 335px;
}

@media (min-width: 600px) {
  .c-course__description__video-wrapper {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1200px) {
  .c-course__description__video-wrapper {
    height: 248px;
    width: 440px;
  }
}

.c-course__description__video-wrapper img {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  .c-course__description {
    -ms-grid-columns: 1fr 440px;
        grid-template-columns: 1fr 440px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 110px;
            column-gap: 110px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__requirements {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 74px;
}

@media (min-width: 900px) {
  .c-course__requirements {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__program-wrapper {
  background: url("../../assets/common/background.svg") no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-course__program-wrapper .c-course__program__img {
  display: none;
}

@media (min-width: 900px) {
  .c-course__program-wrapper .c-course__program {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 440px;
        grid-template-columns: 1fr 440px;
    -webkit-column-gap: 110px;
            column-gap: 110px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .c-course__program-wrapper .c-course__program__img {
    margin-bottom: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
  }
}

.c-course__certificate {
  display: none;
}

@media (min-width: 900px) {
  .c-course__certificate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 90px;
            column-gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .c-course__certificate__descripton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .c-course__certificate__image-wrapper {
    height: 255px;
    width: 365px;
    background-color: #D6D6D6;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__more-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (min-width: 900px) {
  .c-course__more-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */