/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Lato';
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

html, * {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like {
  font-family: 'Montserrat', sans-serif;
}

h1,
.h1-like {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2,
.h2-like {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3,
.h3-like {
  font-style: normal;
  font-weight: 600px;
  font-size: 24px;
  line-height: 30px;
}

h4,
.h4-like {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

a, button {
  font-style: normal;
}

button {
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.o-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.o-horizontally-center {
  margin: 0 5.4%;
}

.o-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 16px;
  align-self: flex-start;
      grid-template-areas: "icon title" "content content";
}

@media (min-width: 900px) {
  .o-card {
        grid-template-areas: "icon title" ". content";
  }
}

.o-card__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

.o-card__title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.o-card__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
}

.o-trainer-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
  justify-items: center;
}

.o-trainer-card__img-wrapper {
  width: 188px;
  height: 188px;
  border: 8px solid #41BEAD;
  border-radius: 50%;
  overflow: hidden;
}

.o-trainer-card__img-wrapper img {
  height: 100%;
  width: 100%;
}

.o-trainer-card__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 8px;
  justify-items: center;
}

.o-trainer-card__main__position {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}

.o-trainer-card__main__description {
  color: #565656;
  margin-top: 16px;
}

.o-trainer-card--primary .o-trainer-card__img-wrapper {
  position: relative;
}

.o-trainer-card--primary .o-trainer-card__img-wrapper .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FF9100;
  opacity: 0.8;
  display: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.o-trainer-card--primary .o-trainer-card__img-wrapper:hover .cover {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

@media (min-width: 1200px) {
  .o-trainer-card--extended {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
  .o-trainer-card--extended .o-trainer-card__main {
    justify-items: start;
  }
}

.o-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 16px;
}

.o-select__option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr 46px;
      grid-template-columns: -webkit-min-content 1fr 46px;
      grid-template-columns: min-content 1fr 46px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 14px 0 14px 14px;
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  color: #565656;
}

.o-select__option__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.o-select__option__arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  .o-hidden-max-phone {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .o-hidden-min-tablet-portrait-up {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .o-hidden-max-tablet-portrait-up {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .o-hidden-min-tablet-landscape-up {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .o-hidden-max-tablet-landscape-up {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .o-hidden-min-desktop-up {
    display: none;
  }
}

.header-wrapper {
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.header__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13px 1fr;
      grid-template-columns: 13px 1fr;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__arrow path {
  fill: #565656;
}

@media (min-width: 600px) {
  .header__logo__arrow path {
    fill: #FF9100;
  }
}

@media (min-width: 900px) {
  .header__navbar-horizontal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-right: 44px;
  }
  .header__navbar-horizontal .navbar__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 900px) and (min-width: 1200px) {
  .header__navbar-horizontal .navbar__items {
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

.header__login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__login button {
  margin: 19px auto;
  font-size: 13px;
  line-height: 16px;
}

.navbar-vertical {
  display: none;
  margin-bottom: 24px;
}

.navbar-vertical__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 24px;
}

.navbar-vertical__items .navbar__item {
  padding-top: 24px;
  border-top: 3px dotted #D6D6D6;
}

@media (min-width: 900px) {
  .navbar-vertical {
    display: none !important;
  }
}

.c-course__description, .c-course__requirements, .c-course__more-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 32px;
}

.c-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content min-content min-content;
  row-gap: 64px;
}

.c-course__header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 242px 56px 506px;
      grid-template-rows: 242px 56px 506px;
  -ms-grid-columns: 1fr 335px 1fr;
      grid-template-columns: 1fr 335px 1fr;
}

@media (min-width: 1440px) {
  .c-course__header-wrapper {
    -ms-grid-rows: 242px 56px 56px;
        grid-template-rows: 242px 56px 56px;
    -ms-grid-columns: 1fr 1290px 1fr;
        grid-template-columns: 1fr 1290px 1fr;
  }
}

.c-course__header-wrapper .c-course__header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background-color: #44A9F8;
}

.c-course__header-wrapper .c-course__header__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
  justify-items: center;
  text-align: center;
  color: #FFFFFF;
}

.c-course__header-wrapper .c-course__header__main p {
  background: #FFC20A;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  margin-top: 64px;
}

.c-course__header-wrapper .c-course__header__main h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 600px) {
  .c-course__header-wrapper .c-course__header__main h1 {
    max-width: 644px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
}

.c-course__header-wrapper .c-registration {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  background: transparent;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .c-course__description {
    -ms-grid-columns: 1fr min-content;
        grid-template-columns: 1fr -webkit-min-content;
        grid-template-columns: 1fr min-content;
    -webkit-column-gap: 110px;
            column-gap: 110px;
    row-gap: unset;
    margin-top: 32px;
  }
}

.c-course__description__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
}

.c-course__description__video {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 335px;
  height: 190px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 900px) {
  .c-course__description__video {
    width: 440px;
    height: 248px;
  }
}

@media (min-width: 1200px) {
  .c-course__description__video {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.c-course__description__video__trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-course__description__video__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 900px) {
  .c-course__requirements {
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
    -webkit-column-gap: 90px;
            column-gap: 90px;
    row-gap: unset;
  }
  .c-course__requirements__border {
    height: 100%;
  }
  .c-course__requirements__border .c-dotted-line {
    height: 100%;
  }
}

.c-course__program-wrapper {
  background-color: #FFCB29;
}

.c-course__program-wrapper .c-course__program {
  margin-top: 64px;
  margin-bottom: 64px;
}

.c-course__program-wrapper .c-course__program__program__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 32px;
}

@media (min-width: 1200px) {
  .c-course__program-wrapper .c-course__program {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 420px;
        grid-template-columns: 1fr 420px;
    -webkit-column-gap: 135px;
            column-gap: 135px;
  }
  .c-course__program-wrapper .c-course__program__img {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (min-width: 900px) {
  .c-course__certificate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 64px;
            column-gap: 64px;
    margin-bottom: 44px;
  }
  .c-course__certificate__descripton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .c-course__certificate__image-wrapper {
    justify-self: center;
    height: 256px;
    width: 363px;
    margin-left: 96px;
    background: #D6D6D6;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    color: #565656;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-course__more-info {
  margin-bottom: 96px;
}

@media (min-width: 1200px) {
  .c-course__more-info {
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
    -webkit-column-gap: 32px;
            column-gap: 32px;
    row-gap: unset;
    margin-bottom: 160px;
  }
  .c-course__more-info__border {
    height: 100%;
  }
  .c-course__more-info__border .c-dotted-line {
    height: 100%;
  }
}

.c-registration {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 144px 20px 406px;
      grid-template-rows: 144px 20px 406px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (min-width: 1440px) {
  .c-registration {
    -ms-grid-columns: 280px 20px 1fr;
        grid-template-columns: 280px 20px 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.c-registration__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
}

.c-registration__button button {
  padding: 16px 94px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1440px) {
  .c-registration__button button {
    padding: 14px 32px;
  }
}

.c-registration__border {
  height: 100%;
}

.c-registration__border .c-dotted-line {
  height: 100%;
}

.c-registration__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background: #FFFFFF;
  padding-left: 24px;
}

@media (min-width: 1440px) {
  .c-registration__list {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.c-registration__list__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  row-gap: 6px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media (min-width: 1440px) {
  .c-registration__list__item {
    padding-right: 32px;
  }
}

.c-registration__list__item img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-registration__list__item p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-registration__list__item:not(:last-child)::after {
  content: '';
  width: 24px;
  height: 2px;
  background: #E5E5E5;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: 1440px) {
  .c-registration__list__item:not(:last-child)::after {
    width: 2px;
    height: 24px;
    left: unset;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.c-trainers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 48px;
}

@media (min-width: 900px) {
  .c-trainers {
    row-gap: 96px;
  }
}

.c-trainers__header-wrapper {
  background-color: #FFB402;
}

.c-trainers__header-wrapper .c-trainers__header {
  display: -ms-grid;
  display: grid;
  row-gap: 24px;
  justify-items: center;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #FFFFFF;
}

.c-trainers__header-wrapper .c-trainers__header p {
  max-width: 850px;
}

.c-trainers__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 64px;
}

@media (min-width: 900px) {
  .c-trainers__description {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-trainers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 48px;
  margin-bottom: 44px;
}

@media (min-width: 900px) {
  .c-trainers__list {
    -ms-grid-columns: max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
    grid-auto-flow: row dense;
    -webkit-column-gap: 86px;
            column-gap: 86px;
    row-gap: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .c-trainers__list {
    -ms-grid-columns: max-content max-content max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content max-content max-content;
    grid-auto-flow: row dense;
    -webkit-column-gap: 86px;
            column-gap: 86px;
    row-gap: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-trainers__apply-form-wrapper {
  background-color: #66B9F8;
}

.c-trainers__apply-form-wrapper::before {
  content: '';
  background: #92CDFB;
  width: 100%;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.c-trainers__apply-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  row-gap: 48px;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #FFFFFF;
}

@media (min-width: 900px) {
  .c-trainers__apply-form {
    justify-items: center;
    text-align: center;
    margin-bottom: 128px;
  }
}

.c-trainers__apply-form__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  max-width: 850px;
  row-gap: 24px;
}

@media (min-width: 900px) {
  .c-trainers__apply-form__head {
    justify-items: center;
  }
}

.c-trainers__apply-form__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 36px;
}

@media (min-width: 900px) {
  .c-trainers__apply-form__form {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 1200px) {
  .c-trainers__apply-form__form {
    -ms-grid-columns: 228px 228px 228px 140px;
        grid-template-columns: 228px 228px 228px 140px;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-trainers__apply-form__form__item {
  padding: 16px 0 16px 16px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.c-trainers__apply-form__form__item::-webkit-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item:-ms-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item::-ms-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item::placeholder {
  color: #FFFFFF;
}

.c-contact-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 96px;
}

.c-contact-us__map-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px auto;
      grid-template-rows: 200px auto;
  row-gap: 32px;
}

.c-contact-us__map-wrapper .c-contact-us__map__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .c-contact-us__map-wrapper {
    -ms-grid-rows: 300px auto;
        grid-template-rows: 300px auto;
  }
}

@media (min-width: 900px) {
  .c-contact-us__map-wrapper {
    -ms-grid-rows: 128px 298px 84px;
        grid-template-rows: 128px 298px 84px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 0;
  }
  .c-contact-us__map-wrapper .c-contact-us__map__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .c-contact-us__map-wrapper .c-find-us {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.c-contact-us__transport-wrapper {
  background-color: #FFF8E1;
}

.c-contact-us__transport {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 48px;
  margin-top: 96px;
  margin-bottom: 108px;
}

.c-contact-us__transport__header {
  color: #41BEAD;
  text-align: center;
}

.c-contact-us__transport__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 16px;
  color: #565656;
}

.c-contact-us__transport__item__title {
  color: #41BEAD;
  margin-bottom: 2px;
}

@media (min-width: 900px) {
  .c-contact-us__transport {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 33px;
            column-gap: 33px;
  }
  .c-contact-us__transport__header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .c-contact-us__transport__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content;
    row-gap: 16px;
  }
}

.c-find-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 32px;
  justify-items: center;
}

@media (min-width: 900px) {
  .c-find-us {
    -ms-grid-rows: 270px min-content;
        grid-template-rows: 270px -webkit-min-content;
        grid-template-rows: 270px min-content;
    row-gap: 16px;
    height: 385px;
    width: 520px;
    padding: 32px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: #FFFFFF;
  }
}

.c-find-us__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 48px;
}

@media (min-width: 900px) {
  .c-find-us__main {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-auto-flow: row dense;
    row-gap: 14px;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.c-find-us__main__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 18px;
}

.c-find-us__main__item__title {
  font-weight: 600;
  color: #41BEAD;
}

.c-find-us__btn {
  -ms-grid-column-align: center;
      justify-self: center;
}

.c-work-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media (min-width: 900px) {
  .c-work-days {
    -ms-grid-columns: max-content auto;
        grid-template-columns: -webkit-max-content auto;
        grid-template-columns: max-content auto;
  }
  .c-work-days p {
    max-width: 105px;
  }
}

.c-work-days__time {
  color: #FF9100;
}

.c-contact-us-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 32px;
  max-width: 850px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .c-contact-us-form {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-contact-us-form__title {
  color: #41BEAD;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 900px) {
  .c-contact-us-form__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.c-contact-us-form__input {
  padding: 16px 0 16px 16px;
  border: 1px solid #919191;
  border-radius: 6px;
}

@media (min-width: 900px) {
  .c-contact-us-form__input:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.c-contact-us-form__input::-webkit-input-placeholder {
  color: #919191;
}

.c-contact-us-form__input:-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-form__input::-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-form__input::placeholder {
  color: #919191;
}

.c-contact-us-form__btn {
  -ms-grid-column-align: start;
      justify-self: start;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.footer-wrapper {
  position: relative;
  background-color: #565656;
}

.footer-wrapper::before {
  content: '';
  background: #919191;
  width: 100%;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.c-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 32px;
}

@media (min-width: 1200px) {
  .c-footer {
    -ms-grid-columns: 220px 1fr;
        grid-template-columns: 220px 1fr;
    row-gap: 0;
    -webkit-column-gap: 85px;
            column-gap: 85px;
  }
  .c-footer__img__pawn {
    position: absolute;
    bottom: 0;
  }
  .c-footer__img__pawn:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
            animation: wobble-hor-bottom 0.8s both;
  }
}

.c-footer__main {
  margin-top: 44px;
}

.c-footer__main__navs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 32px;
  grid-auto-flow: column;
}

@media (min-width: 900px) {
  .c-footer__main__navs {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    grid-auto-flow: unset;
    -webkit-column-gap: 85px;
            column-gap: 85px;
  }
}

.c-footer__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 16px;
}

.c-footer__navigation__title {
  color: #FFFFFF;
  font-weight: bold;
}

.c-footer__navigation__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 12px;
}

@media (min-width: 1200px) {
  .c-footer__navigation__main {
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    grid-auto-flow: column;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.c-footer__navigation__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.c-rights {
  color: #919191;
  padding: 32px 0;
  border-top: 1px solid #696969;
  text-align: center;
}

@media (min-width: 1200px) {
  .c-rights {
    border: none;
    max-width: 180px;
    text-align: left;
  }
}

.btn {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  background: #FF9100;
  color: #FFFFFF;
}

.btn--secondary-reversed {
  background: #FFFFFF;
  color: #FF9100;
  border: 1px solid #FF9100;
}

.c-dotted-line {
  position: relative;
  margin: 0;
  height: 20px;
}

.c-dotted-line--transparent {
  background: radial-gradient(circle 12px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 40px 1px/20px 22px repeat;
}

.c-dotted-line--upper {
  height: 10px;
  background: radial-gradient(circle 12px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 43px -4px/18px 32px repeat-x;
}

.c-dotted-line--bottom {
  height: 10px;
  background: radial-gradient(circle 6px, #fff 100%, #fff 60%, #C4C4C4 60%, transparent, transparent 40%) 46px 1px/18px 21px repeat-x;
}

.c-dotted-line--primary-50 {
  background: radial-gradient(circle 10px, #DFF4F1, #DFF4F1, #FFFFFF 60%, #FFFFFF 100%) 35px 0px/20px 20px repeat;
}

.c-dotted-line--secondary-100 {
  background: radial-gradient(circle 10px, #FFECB3, #FFECB3, #FFFFFF 60%, #FFFFFF 100%) 35px 0px/20px 20px repeat;
}

.header-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #565656;
  display: block;
  width: 100%;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.header-link:hover {
  color: #FF9100;
}

.header-link--vertical:hover {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.footer-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.footer-link:hover {
  color: #41BEAD;
}

.footer-icon:hover path {
  fill: #41BEAD;
}

.c-underline {
  text-decoration: underline;
  color: #FF9100;
}

.u-bold {
  font-weight: bold;
}

.u-p18 {
  font-size: 18px;
  line-height: 22px;
}

.u-primary {
  color: #41BEAD;
}

.u-secondary {
  color: #FF9100;
}
/*# sourceMappingURL=styles.css.map */