/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Lato';
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

html, * {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: 600px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

a, button {
  font-style: normal;
}

button {
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.o-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px auto auto;
      grid-template-rows: 74px auto auto;
}

.o-horizontally-center {
  margin: 0 5.4%;
  min-width: 335px;
  max-width: 1290px;
}

@media only screen and (min-width: 1440px) {
  .o-horizontally-center {
    margin: 0 auto;
  }
}

.o-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  row-gap: 16px;
  align-self: flex-start;
      grid-template-areas: "icon title" "content content";
}

@media (min-width: 900px) {
  .o-card {
        grid-template-areas: "icon title" ". content";
  }
}

.o-card__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

.o-card__title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.o-card__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
}

.o-trainer-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
  justify-items: center;
}

.o-trainer-card__img-wrapper {
  width: 188px;
  height: 188px;
  border: 8px solid #41BEAD;
  border-radius: 50%;
  overflow: hidden;
}

.o-trainer-card__img-wrapper img {
  height: 100%;
  width: 100%;
}

.o-trainer-card__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 8px;
  justify-items: center;
}

.o-trainer-card__header__title {
  color: #41BEAD;
  font-weight: bold;
}

.o-trainer-card__header__position {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}

.o-trainer-card__description {
  color: #565656;
}

.o-option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 44px;
      grid-template-columns: 1fr 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  min-width: 335px;
  min-height: 52px;
  color: #565656;
}

.o-option p {
  padding-left: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.o-option img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.o-option:hover {
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  .o-hidden-max-phone {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .o-hidden-min-tablet-portrait-up {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .o-hidden-max-tablet-portrait-up {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .o-hidden-min-tablet-landscape-up {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .o-hidden-max-tablet-landscape-up {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .o-hidden-min-desktop-up {
    display: none;
  }
}

.header-wrapper {
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 74px;
      grid-template-rows: 74px;
  justify-items: center;
}

.header__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13px 1fr;
      grid-template-columns: 13px 1fr;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__arrow path {
  fill: #565656;
}

@media (min-width: 600px) {
  .header__logo__arrow path {
    fill: #FF9100;
  }
}

@media (min-width: 900px) {
  .header__navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header__navbar .navbar__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto 32px;
        grid-template-columns: auto auto auto auto auto 32px;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 900px) and (min-width: 1200px) {
  .header__navbar .navbar__items {
    -ms-grid-columns: auto auto auto auto auto 48px;
        grid-template-columns: auto auto auto auto auto 48px;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

.header__login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px;
      grid-template-columns: 1fr 24px;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__login button {
  font-size: 13px;
  line-height: 16px;
}

@media (min-width: 900px) {
  .header__login {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.c-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 302px auto auto 750px auto auto;
      grid-template-rows: 302px auto auto 750px auto auto;
  row-gap: 90px;
}

@media (min-width: 1200px) {
  .c-course {
    -ms-grid-rows: 302px auto auto 560px auto auto;
        grid-template-rows: 302px auto auto 560px auto auto;
  }
}

.c-course__header-wrapper {
  background-color: #44A9F8;
}

.c-course__header-wrapper .c-course__header {
  text-align: center;
  color: #FFFFFF;
}

.c-course__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 190px;
      grid-template-rows: 1fr 190px;
  row-gap: 16px;
}

.c-course__description__video-wrapper {
  height: 190px;
  width: 335px;
}

@media (min-width: 600px) {
  .c-course__description__video-wrapper {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1200px) {
  .c-course__description__video-wrapper {
    height: 248px;
    width: 440px;
  }
}

.c-course__description__video-wrapper img {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  .c-course__description {
    -ms-grid-columns: 1fr 440px;
        grid-template-columns: 1fr 440px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 90px;
            column-gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__requirements {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 74px;
}

@media (min-width: 900px) {
  .c-course__requirements {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__program-wrapper {
  background: url("../../assets/common/background.svg") no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-course__program-wrapper .c-course__program__img {
  display: none;
}

@media (min-width: 900px) {
  .c-course__program-wrapper .c-course__program {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 400px;
        grid-template-columns: 1fr 400px;
    -webkit-column-gap: 90px;
            column-gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .c-course__program-wrapper .c-course__program__img {
    margin-bottom: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
  }
}

.c-course__certificate {
  display: none;
}

@media (min-width: 900px) {
  .c-course__certificate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 90px;
            column-gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .c-course__certificate__descripton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .c-course__certificate__image-wrapper {
    height: 255px;
    width: 365px;
    background-color: #D6D6D6;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-course__more-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (min-width: 900px) {
  .c-course__more-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .c-course__more-info {
    margin-bottom: 150px;
  }
}

.c-trainers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 48px;
}

.c-trainers__header-wrapper {
  background-color: #FFB402;
}

.c-trainers__header-wrapper .c-trainers__header {
  display: -ms-grid;
  display: grid;
  row-gap: 24px;
  justify-items: center;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #FFFFFF;
}

.c-trainers__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 64px;
}

.c-trainers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 48px;
  margin-bottom: 44px;
}

.c-trainers__apply-form-wrapper {
  background-color: #66B9F8;
}

.c-trainers__apply-form-wrapper::before {
  content: '';
  background: #92CDFB;
  width: 100%;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.c-trainers__apply-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 48px;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #FFFFFF;
}

.c-trainers__apply-form__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 24px;
}

.c-trainers__apply-form__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 36px;
}

.c-trainers__apply-form__form__item {
  padding: 16px 0 16px 16px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.c-trainers__apply-form__form__item::-webkit-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item:-ms-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item::-ms-input-placeholder {
  color: #FFFFFF;
}

.c-trainers__apply-form__form__item::placeholder {
  color: #FFFFFF;
}

.footer-wrapper {
  position: relative;
  background-color: #565656;
  min-height: 312px;
}

.footer-wrapper::before {
  content: '';
  background: #919191;
  width: 100%;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 16px;
  justify-items: center;
}

.footer__img {
  display: none;
}

@media (min-width: 1200px) {
  .footer {
    -ms-grid-columns: 220px 1fr;
        grid-template-columns: 220px 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -webkit-column-gap: 78px;
            column-gap: 78px;
  }
  .footer__img {
    display: block;
  }
  .footer__img__icon {
    position: absolute;
    bottom: 0;
    left: 5%;
  }
}

.footer__navigation {
  width: 100%;
}

.footer__navigation::after {
  content: '';
  background: #696969;
  width: 100%;
  height: 2px;
  display: inline-block;
  position: relative;
  top: 16px;
}

@media (min-width: 1200px) {
  .footer__navigation::after {
    position: absolute;
    height: 0;
  }
}

.footer__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 36px;
  -webkit-column-gap: 0.5%;
          column-gap: 0.5%;
  grid-auto-flow: row dense;
}

@media (min-width: 900px) {
  .footer__section {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    gap: 85px;
  }
}

.footer__section__item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.footer__section__item__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 12px;
}

@media (min-width: 1200px) {
  .footer__section__item__nav {
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    grid-auto-flow: column dense;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.footer__rights {
  color: #919191;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__rights {
    display: none;
  }
}

.rights {
  color: #919191;
}

.btn {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  background: #FF9100;
  color: #FFFFFF;
}

.header-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #565656;
}

.header-link:hover {
  color: #FF9100;
}

.footer-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
}

.footer-link:hover {
  color: #41BEAD;
}
/*# sourceMappingURL=styles.css.map */