.c-trainers__apply-form { 
    display: grid;
    grid-template-rows: min-content;
    row-gap: 48px;
    margin-top: 64px;
    margin-bottom: 64px;
    color: $white;

    &__head {
        display: grid;
        grid-template-rows: min-content;
        row-gap: 24px;
    }
   
    &__form {
        display: grid;
        grid-template-rows: min-content;
        row-gap: 36px;

        &__item {
            padding: 16px 0 16px 16px;
            background: transparent;
            border: 1px solid $white;
            border-radius: 6px;

            &::placeholder {
                color: $white;
            }
        }
    }
}