@import "../01.Settings/settings-colors";

.c-dotted-line {
    position: relative;
    margin: 0;
    height: 20px;
    //background: radial-gradient(circle 10px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 47px 0px/20px 20px repeat-x;
    background: radial-gradient(circle 10px, $primary-50, $primary-50, $white 60%, $white 100%) 47px 0px/20px 20px repeat-x;
}