@import "../01.Settings/settings-breakpoints";

.header-wrapper {
    position: relative;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;

    &__logo {
        display: grid;
        grid-template-columns: 13px 1fr;
        column-gap: 14px;
        align-items: center;

        &__arrow path {
            fill: $grey-700;

            @include for-tablet-portrait-up {                    
                fill: $secondary-800;
            }
        }
    }

    &__navbar-horizontal {

        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: auto;
            justify-self: end;
            align-content: center;                
            margin-right: 44px;
    
            .navbar__items {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                column-gap: 32px;

                @include for-desktop-up {
                    grid-template-columns: auto auto auto auto auto;
                    column-gap: 48px;
                }
            }
        }  
    }

    &__login {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 24px;
        align-items: center;
        justify-self: end;

        button {     
            margin: 19px auto;           
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.navbar-vertical {
    display: none;
    margin-bottom: 24px;

    &__items {
        display: grid;
        grid-template-rows: auto;
        row-gap: 24px;

        .navbar__item {
            padding-top: 24px;             
            border-top: 3px dotted $grey-300;
        }  
    }

    @include for-tablet-landscape-up {
        display: none !important;        
    }
}