@import "../01.Settings/settings-colors";

.header-link {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: $grey-700;
    display: block;
    width: 100%;   
    transition: color 0.4s ease-out;

    &:hover {
        color: $secondary-800;
    }

    &--vertical:hover {
        transform: translateX(30px);
        transition: transform 0.6s ease-in-out;
    }
}

.footer-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $grey-200; 
    transition: color 0.4s ease-out;

    &:hover {
        color: $primary-300;
    }
}

.footer-icon:hover path {
    fill: $primary-300;
}

.c-underline {
    text-decoration: underline;
    color: $secondary-800;
}