@import "../01.Settings/settings-colors";

.o-select {
    display: grid;
    grid-template-rows: min-content;
    row-gap: 16px;

    &__option {
        display: grid;
        grid-template-columns: min-content 1fr 46px;
        column-gap: 5px;
        padding: 14px 0 14px 14px;
        background: $white;
        border: none;
        border-radius: 6px;
        color: $grey-700;
    
        &__arrow {
            align-self: center;
            justify-self: center;

            &:hover {
                cursor: pointer;
            }
        } 
    }
}

