.o-page-wrapper {
    display: grid;
    grid-template-rows: 74px auto auto ;
}

.o-horizontally-center {
    margin: 0 5.4%;
    // min-width: 335px;
    // max-width: 1290px;

    // @media only screen and  (min-width: 1440px) {
    //     margin: 0 auto;
    // }
}