@import "../01.Settings/settings-breakpoints";
@import "../01.Settings/settings-colors";

.o-card {
    display: grid;
    grid-template-columns: 32px 1fr;
    column-gap: 35px;
    row-gap: 16px;
    align-self: flex-start;
    grid-template-areas: "icon title"
                         "content content";

    @include for-tablet-landscape-up {
        grid-template-areas: "icon title"
                             ". content";
    }

    &__icon {
        grid-area: icon;
    }
    
    &__title {
        margin: 0;
        grid-area: title;
    }
    
    &__content {        
        grid-area: content;
        display: grid;
        grid-template-rows: min-content;
        row-gap: 24px;
    }
}

.o-trainer-card {
    display: grid;
    grid-template-rows: min-content;
    row-gap: 24px;
    justify-items: center;

    &__img-wrapper {
        width: 188px;
        height: 188px;
        border: 8px solid $primary-300;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__main {
        display: grid;
        grid-template-rows: min-content;
        row-gap: 8px;        
        justify-items: center;

        // &__title {
        //     color: $primary-300;
        //     font-weight: bold;
        // }
    
        &__position {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $grey-400;
        }

        &__description {
            color: $grey-700;
            margin-top: 16px;
        }
    }    

    &--primary {        
        .o-trainer-card__img-wrapper {
            position: relative;

            .cover {                  
                position: absolute;              
                height: 100%;
                width: 100%;
                background-color: $secondary-800;
                opacity: 0.8;
                display: none;  
                font-weight: bold;
                font-size: 10px;
                line-height: 12px;
                color: $white;
            }

            &:hover {
                .cover {
                    display: grid;
                    grid-template-rows: auto auto;
                    row-gap: 12px;
                    justify-content: center;
                    align-content: center;
                    justify-items: center;
                }
            }            
        }
    }

    &--extended {
        @include for-desktop-up {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 32px;
        
            .o-trainer-card__main{
                justify-items: start;
            }
        }
    }
}
