@import "../01.Settings/settings-colors";

.o-option {
    display: grid;
    grid-template-columns: 1fr 44px;
    align-items: center;
    margin-bottom: 16px;
    background: $white;
    border: none;
    border-radius: 6px;
    min-width: 335px;
    min-height: 52px;
    color: $grey-700;

    p {
        padding-left: 14px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }

    img {
        align-self: center;
    }

    &:hover {
        cursor: pointer;
    }
}