@import "../01.Settings/settings-colors";

select {
    text-align: start;
    background: $white;
    border: none;
    border-radius: 6px;
    min-width: 335px;
    min-height: 52px;
    color: $grey-700;

    &:hover {
        cursor: pointer;
    }
}

