@import "../../01.Settings/settings-colors";
@import "../../01.Settings/settings-breakpoints";

.c-find-us {
    display: grid;
    grid-template-rows: auto auto;    
    row-gap: 32px;
    justify-items: center;

    &__main {
        display: grid;
        grid-template-rows: auto;
        row-gap: 48px;        

        @include for-tablet-landscape-up {
            grid-template-columns: auto auto;
            grid-auto-flow: row dense;
            row-gap: 14px;
            column-gap: 24px;
        }

        &__item {
            display: grid;
            grid-template-rows: min-content min-content;
            row-gap: 18px;

            &__title {
                font-weight: 600;
                color: $primary-300;
            }
        }
    }

    &__btn {
        justify-self: center;
    }

    @include for-tablet-landscape-up {      
        grid-template-rows: 270px min-content;
        row-gap: 16px;  
        max-width: 520px;
        padding: 32px;        
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        background-color: $white;
    }
}